# ai model training and inference
__pycache__/
*.pyc
*.pyo
*.pyd
*.h5
*.hdf5
*.pth
data/
output/

# web django
.vercel
*.log
*.pyc
__pycache__
db.sqlite3
media

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 